<table class="table">

    <thead>

        <div style="cursor: pointer; margin-bottom: 30px;" class="row">
            <div class="col-lg-6">
                <a class="btn_2" (click)="retour()">Retour</a>
            </div>

            <div class="col-lg-6">
                <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                    <input [(ngModel)]="term" type="text" placeholder="Recherche..." name="search2">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
            </div>
        </div>
        <h2>Liste des CPNs</h2>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Date naissance</th>
        <th scope="col">Heure naissance</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let med of cpns | filter:term; let i = index">
        <th scope="row"> {{i+1}} </th>
        <td>{{med.patiente.Prenom}}</td>
        <td>{{med.patiente.Nom}}</td>
        <td> {{med.DateNaissance | date}} </td>
        <td> {{med.HeureNaissance}} </td>
        <td> <i (click)="voir()" style="cursor: pointer;" class="fa fa-eye"></i> </td>
      </tr>
    </tbody>

  </table>
