<div class="row align-items-center">
   

    <div class="col-lg-12 col-xl-12">
        <div class="banner_text">
            <div class="banner_text_iner">
               
                <div class="btns">
                    <!-- <div class="btnretour" style="cursor: pointer;" class="col-lg-1">
                        
                    </div> -->
                    <button (click)="retour()" style="margin-bottom: 40px; margin-left: 20px;" class="btn btn-primary">
                        <i class="ti-arrow-left"></i></button>
                    <button (click)="cpn()" style="margin-bottom: 40px; margin-left: 20px;" class="btn btn-primary">Carnet prénatal</button>
                    <button (click)="cv()" style="margin-bottom: 40px; margin-left: 20px;" class="btn btn-primary">Carnet de vaccination</button>
                </div>
                <h1>CPN et CV</h1>
                <p>Les infos sur CPN et CV Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, qui. Maxime, voluptatibus illo qui id laudantium reprehenderit ipsum officia quod mollitia? Reiciendis eveniet nemo quibusdam, doloremque assumenda eaque debitis dolorem.
                </p>
                <!-- <a href="#" class="btn_2">Prendre rendez-vous</a> -->

            </div>
        </div>
         </div>
    </div>