<div class="container">
    
    <div class="row">
        <div style="cursor: pointer;" class="col-lg-1">
            <i class="ti-arrow-left" (click)="retour()"></i>
        </div>
        <h3>Forum</h3>
<div class="message-wrap col-lg-12">

    <div *ngFor="let for of foras" class="msg-wrap">
        <div class="media msg">
            <a class="pull-left">
                <img class="media-object" alt="64x64" style="width: 32px; height: 32px;" src="assets/img/profile.png">
            </a>
            <div class="media-body">
                <small class="pull-right time"><i class="fa fa-clock-o"></i> {{ for.createAt.toDate() | date: 'dd MMM hh:mm' }}</small>

                <h5 class="media-heading">{{for.user.Prenom}} {{for.user.nom}}</h5>
                <div class="col-lg-10">{{for.Description}}</div>
            </div>
        </div>
        
    </div>

    <div class="send-wrap ">
        <i (click)="Publier()" class=" ti-location-arrow"></i> 
        <textarea name="description" [(ngModel)]="Description" class="form-control send-message" rows="3" placeholder="Ecrivez ici..."></textarea>
    </div>
    <!-- <div class="btn-panel">
        <a href="" class=" col-lg-3 btn   send-message-btn " role="button"><i class="fa fa-cloud-upload"></i> Add Files</a>
        <a href="" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</a>
    </div> -->
</div>
</div>
</div>
