<div class="container">
    <form action="/action_page.php" class="px-4 py-3">
    <h2>Donner RDV</h2>
    <div class="form-row">
            <br>
            <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input [(ngModel)]="date" [ngModelOptions]="{standalone: true}" name="Date" type="date" class="form-control" id="date" placeholder="Enter date">
            </div>
        <div class="form-group col-md-6">
                <label for="heure">Heure</label>
                <input [(ngModel)]="Heure" [ngModelOptions]="{standalone: true}" name="Heure" type="time" class="form-control" id="heure" placeholder="Enter heure">
            </div>
        </div>
       
    <br>
    <button class="btn btn-primary" style="margin-right: 20px;" (click)="Enregistrer()">Enregistré</button>
</form>
</div>
<div>
    <!-- <button class="btn float-left btn-primary" style="margin-left:800px" (click)="list()">voir la liste-rendez-vous</button> -->
</div>