<form class="navbar-form navbar-left">
        <div class="input-group">
                        <span class="input-group-btn"><button type="button" (click)="retour()" class="btn btn-primary">
                            <i class="ti-arrow-left"></i>
                        </button></span>
            <input type="text" name="seachText" class="form-control" placeholder="search..." #seachInput="ngModel" [(ngModel)]="seachText">
        </div>
    </form>
    <div class="col-md-12">
        <!-- BORDERED TABLE-->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des patientes
                    <button style="margin-left: 200px;" class="btn btn-primary" (click)="list()">Consulter les RDV</button>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Tel</th>
                        <th>Profession</th>
                        <th>Date</th>
                    </thead>
                    <tbody (click)="Prendre(patiente)" *ngFor="let patiente of listpatientes | filter:seachText; index as i">
                        <tr style="cursor: pointer;">
                            <td>{{i+1}}</td>
                            <td>{{patiente.Nom}}</td>
                            <td>{{patiente.Prenom}}</td>
                            <td>{{patiente.Tel}}</td>
                            <td>{{patiente.Profession}}</td>
                            <td>{{patiente.Date | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
